@font-face {
   font-family: 'proxima_nova_regular';
   font-display: swap;
   src: url('file:///Users/anissa/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-12-16_173530/fonts/proxima_nova_regular/font.ttf');
}
