@font-face {
   font-family: 'proxima_nova_regular';
   font-display: swap;
   src: url('proxima_nova_regular/font.ttf');
}
@font-face {
   font-family: 'proxima_nova_bold';
   font-display: swap;
   src: url('proxima_nova_bold/font.ttf');
}
